html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
  background: url("/background.png") center top repeat-y;
  background-size: cover;
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  height: 10vh;
  padding-left: 20px;
  backdrop-filter: blur(1px);
}

.logo {
  height: 80px;
  width: auto;
}

main {
  padding: 20px;
}

.answer {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  line-height: 1.6;
  font-size: 16px;
}
